---
import NavigationButtons from '@/components/menu/NavigationButtons'
---
<header class="sticky top-0 h-16">
    <div class="px-6 py-4 h-16">
        <NavigationButtons client:load backDisable={true} forWardDisable={false}/>
    </div>
</header>