@font-face {
	font-family: "CircularStd";
	src: url("/fonts/CircularStd-Light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "CircularStd";
	src: url("/fonts/CircularStd-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "CircularStd";
	src: url("/fonts/CircularStd-Book.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "CircularStd";
	src: url("/fonts/CircularStd-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "CircularStd";
	src: url("/fonts/CircularStd-Black.woff2") format("woff2");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}