---
import Layout from "../layouts/Layout.astro";

// data
import { playlists } from "@/lib/data";

// componentes
import PlayListItemCard from "@/components/menu/PlayListItemCard.astro";
import { Greating } from "@/components/menu/Greating";
import CardLarge from "@/components/menu/CardLarge.astro";
import PageHeader from "@/components/menu/PageHeader.astro";
---

<Layout title='Spotify Clone'>
    <div
        id='playlist-container'
        class='relative transition-colors duration-1000 bg-base min-h-full rounded-lg'
    >
        <!-- GradiantFondo -->
        <div
            id='gradiantFondo'
            class='absolute w-full h-[304px] bg-fondoMain transition-colors duration-700 ease-in-out'
            style='--fondoMain-color:#134e4a'
        >
            <div class='absolute inset-0 bg-gradient-to-t from-base via-base/80'></div>
        </div>

        <!-- PageHeader -->
        <PageHeader />
        <section class='relative z-10 px-6 flex flex-col gap-6'>
            <div>
                <!-- Saludos -->
                <Greating />
                <!-- CardLarge -->
                <div class='grid gap-y-4 gap-x-6 sm:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 mt-4'>
                    { playlists
                        .slice(6, 12)
                        .map((playlist) => (
                            <CardLarge playlist={playlist} />
                        ))
                    }
                </div>
            </div>

            <div>
                <h2 class='text-2xl font-bold mb-4'>Hecho para ti</h2>
                <div class='flex flex-wrap gap-6'>
                    { playlists
                        .slice(0, 6)
                        .map((playlist) => (
                            <PlayListItemCard playlist={playlist} />
                        ))
                    }
                </div>
            </div>
        </section>
    </div>
</Layout>

<script>
    // para que funcione en todas la paginas
    document.addEventListener('astro:page-load', () => {
        const grandiantColor$ = document.querySelector("#gradiantFondo") as HTMLElement; // elemento gradiante 
        const cards$ = document.querySelectorAll("[data-color]"); // CardLarge

        if (grandiantColor$) {
            cards$.forEach((card) => {
                card.addEventListener("mouseover", () => {
                    const newColor = card.getAttribute("data-color"); // recuperamos el color de la card     
                    grandiantColor$.style.setProperty("--fondoMain-color", newColor);
                });
            });
        }
    })
</script>
