---
// components
import Player from "@/components/player/Player";
import SideBarLeft from "@/components/sideBarLeft/SideBarLeft";

// ViewTransition Api
import { ViewTransitions } from "astro:transitions";

interface Props {
    title: string;
}

const { title } = Astro.props;

const {id} = Astro.params

---

<!doctype html>
<html lang='en'>
    <head>
        <meta charset='UTF-8' />
        <meta name='description' content='Explora y disfruta de una experiencia de reproducción de música excepcional en nuestro sitio. Descubre tus canciones favoritas, crea listas de reproducción personalizadas y sumérgete en un mundo de sonidos. ¡Únete a nosotros y lleva la música a todas partes!'/>
        <meta name='viewport' content='width=device-width' />
        <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
        <meta name='generator' content={Astro.generator} />
        <title>{title}</title>
        <ViewTransitions fallback='none' />
        <link rel='stylesheet' href='/fonts/fonts.css' />
    </head>
    <body>
        <div id='app' class='relativo h-screen p-2 gap-2'>
            <aside
                class='[grid-area:left-sidebar] flex flex-col overflow-y-auto'
            >
                <SideBarLeft
                    client:load
                    transition:persist
                    transition:name='sidebar-left'
                />
            </aside>

            <main class='[grid-area:main-view] rounded-lg overflow-y-auto'>
                <slot />
            </main>

            <footer
                class='[grid-area:now-player] h-[72px] flex justify-between items-center'
            >
                <Player
                    id={id}                
                    client:load
                    transition:name='media-player'
                    transition:persist
                />
            </footer>
        </div>
        <style>
            #app {
                display: grid;
                grid-template-areas:
                    "left-sidebar main-view right-sidebar"
                    "now-player now-player now-player";
                grid-template-columns: auto 1fr;
                grid-template-rows: 1fr auto;
            }
        </style>

        <style is:global>
            html {
                font-family: "CircularStd", system-ui, sans-serif;
                background: #000;
                color-scheme: dark;
            }
        </style>
    </body>
</html>
